RewriteEngine On

# Ignoră directoriile și fișierele reale (permite accesul direct la resursele statice)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecționează toate celelalte cereri către index.php
RewriteRule ^ index.php [QSA,L]


# Previne accesul la fișierele .htaccess și alte fișiere ascunse
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

# Forțează HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Previne afișarea listei de directoare
Options -Indexes